<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%= htmlWebpackPlugin.options.title %></title>

</head>
<body>
	<section id="app">
		<section class="wrapper">
			<!-- Sidebar - Set the amount of players that are allowed to play -->
			<section class="sidebar">

				<form class="startgame" action="#">	
					<button type="submit" class="initGame">start game</button>
					<button type="reset">end/reset game</button>
				</form>

			</section>

			<section class="container">
				<!-- Decks - Container with both the "draw" & normal deck  -->
				<section class="deck-container">


					<div class="deck deck--draw">
						<span>Start deck</span>
					</div>
					<div class="deck">
						<span>Drop your card here</span>
					</div>
				</section>

				<!-- The player container should be created dynamically -->
				<div class="players-container">

 				 	<!-- Player 1  -->
					<div class="player" data-player="1">
						<strong>Player 1 holds: </strong>
						<ul class="cards">
							<li class="card">A ♦</li>
							<li class="card">2 ♠</li>
							<li class="card">3 ♦</li>
							<li class="card">4 ♣</li>
						</ul>
					</div>

					<!-- Player 2  -->
					<div class="player" data-player="3">
						<strong>Player 2 holds: </strong>
						<ul class="cards">
							<li class="card">5 ♦</li>
							<li class="card">6 ♠</li>
							<li class="card">Q ♣</li>
							<li class="card">K ♣</li>
						</ul>
					</div>

					<!-- Player 3  -->
					<div class="player" data-player="3">
						<strong>Player 3 holds: </strong>
						<ul class="cards">
							<li class="card">5 ♦</li>
							<li class="card">6 ♠</li>
							<li class="card">Q ♣</li>
							<li class="card">K ♣</li>
						</ul>
					</div>

				</div>

			</section>

		</section>

	</section>
</body>
</html>
