// Variables needed

// General variables
$body--background-color 	: rgb(203, 203, 203);
$body--text-color 				: rgb(62, 62, 62);
$body--url-color  				: rgb(0, 0, 0);

// Card variables
$card--border-radius 			: 5px;
$card--background-color   : rgb(255, 255, 255);
$card--border-color 			: rgba(0, 0, 0, 0.20);
$card--border-style 			: solid;
$card--border-width 			: 1px;

// Deck variables
$deck--border-radius  		: $card--border-radius;
$deck--border-color 			: rgb(24, 24, 24);
$deck--border-style 			: dotted;
$deck--border-width 			: 1px;
