// Layout
body, html {
	background-color: $body--background-color;
	font-family: Futura,Trebuchet MS,Arial,sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

// Setting up css grid (use this only on the most recent browsers!)
.wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 1rem;
	margin: 0 auto;
	width: 90vw;
}

.container {
	grid-row: 1;
	grid-column: 2;
}

.sidebar {
	grid-column: 1 / 2;
}
