.cards {
	position: relative;
	margin: 0;
	padding: 0;
}

.card {
	background-color: $card--background-color;
	border-radius: $card--border-radius;
	border: $card--border-width $card--border-style $card--border-color;
	font-size: 0.7rem;
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 5%;
	height: 45px;
	text-align: center;
	box-shadow: 1px 1px rgba(65, 65, 65, 0.42);
	cursor: pointer;
}
