.deck-container {
	width: 100%;
	display: flex;
	justify-content:center;
}

.deck {
	border-radius: $deck--border-radius;
	border: $deck--border-width $deck--border-style $deck--border-color;
	position: relative;
	width: 45%;
	text-align: center;

	&:first-child {
		margin-right: 1.4rem;
	}
}

.deck span {
	font-size: 0.8rem;
	line-height: 1.3;
}
